form,input,button {margin:0px;}
header{max-width:700px; margin:auto;}
#container{max-width:700px; margin:auto;position: relative;}
.incorrect{border:1px solid red;}
#error{color:red;}
.field,.post{border:0px;width:100%; font-size: 17px; font-family: CustomSerif,Georgia,'Times New Roman',serif,Arial;}
.button{border-radius: 5px; padding: .5em 1.0em; font-size: 20px; font-family: CustomSerif,Georgia,'Times New Roman',serif,Arial;}
.autor{font-size: 14px; font-family: CustomSerif,Georgia,'Times New Roman',serif,Arial;}