<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>fPost</title>
<meta name="robots" content="index, follow"/>
<meta property="og:site_name" content="fpost">
<meta property="og:title" content="fpost">
<meta property="og:description" content="fpost">
<meta property="og:image" content="https://fpost.org/static/fp32.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="fpost">
<meta name="twitter:description" content="fpost">
<meta name="twitter:image" content="https://fpost.org/static/fp32.png">
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
<link rel="icon" type="image/png" href="/static/fp16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/static/fp32.png" sizes="32x32">
<link rel="stylesheet" type="text/css" href="/static/styles.css">

</head>

<body>
<div id="container">
    <p><input type="text" id="title" placeholder="Title" class="field" autofocus/></p>
    <p><input type="text" id="name" placeholder="Name" class="field"/></p>
    <textarea name="text" id="post" placeholder="Post" rows="1"></textarea>
    <div id="error"></div>
    <button onclick="send_push()">Push</button>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/autosize.min.js"></script>
 	<script src="/static/script.js"></script>
</div>
</body>
</html>